In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dataset = pd.read_csv("./data/logfile-v10.csv", delimiter=";")
dataset.head()

,time,datacenter_id,datacenter_name,host_id,type,active,number_of_pes,available_pes,mips,available_mips,...,frequency_range,voltage_range,ram,available_ram,bw,available_bw,storage,available_storage,power_model,vms
0,300.01,2,Datacenter_1,0,host,True,2,0,6000,2387.365877,...,NaN,1.200-1.3375,4000,17.0,10000,9838.0,160000,151000.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,20.0:2,433.04793488..."
1,600.01,2,Datacenter_1,0,host,True,2,0,6000,2387.365877,...,NaN,1.200-1.3375,4000,17.0,10000,9838.0,160000,151000.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,20.0:2,433.04793488..."
2,900.01,2,Datacenter_1,0,host,True,2,0,6000,2387.365877,...,NaN,1.200-1.3375,4000,17.0,10000,9838.0,160000,151000.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,20.0:2,433.04793488..."
3,1200.01,2,Datacenter_1,0,host,True,2,0,6000,2387.365877,...,NaN,1.200-1.3375,4000,17.0,10000,9838.0,160000,151000.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,20.0:2,433.04793488..."
4,1500.01,2,Datacenter_1,0,host,True,2,0,6000,2387.365877,...,NaN,1.200-1.3375,4000,17.0,10000,9838.0,160000,151000.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,20.0:2,433.04793488..."

In [57]:
dataset.size

970200

In [58]:
dataset.columns

Index(['time', 'datacenter_id', 'datacenter_name', 'host_id', 'type', 'active',
       'number_of_pes', 'available_pes', 'mips', 'available_mips',
       'utilization_per_pe', 'dvfs_available', 'frequency_range',
       'voltage_range', 'ram', 'available_ram', 'bw', 'available_bw',
       'storage', 'available_storage', 'power_model', 'vms'],
      dtype='object')

In [59]:
dataset.dtypes

time                  float64
datacenter_id           int64
datacenter_name        object
host_id                 int64
type                   object
active                   bool
number_of_pes           int64
available_pes           int64
mips                    int64
available_mips        float64
utilization_per_pe     object
dvfs_available           bool
frequency_range        object
voltage_range          object
ram                     int64
available_ram         float64
bw                      int64
available_bw          float64
storage                 int64
available_storage     float64
power_model            object
vms                    object
dtype: object

In [60]:
print(f"Number of null in the dataset: {dataset.isnull().sum().sum()}")
print(f"Number of NaN in the dataset: {dataset.isna().sum().sum()}")

Number of null in the dataset: 43638
Number of NaN in the dataset: 43638

In [61]:
print(f"Number of null per field: \n{dataset.isnull().sum()}")
print(f"Number of NaN per field: \n{dataset.isna().sum()}")

Number of null per field:
time                      0
datacenter_id             0
datacenter_name           0
host_id                   0
type                      0
active                    0
number_of_pes             0
available_pes             0
mips                      0
available_mips            0
utilization_per_pe        0
dvfs_available            0
frequency_range       38640
voltage_range             0
ram                       0
available_ram             0
bw                        0
available_bw              0
storage                   0
available_storage         0
power_model               0
vms                    4998
dtype: int64
Number of NaN per field:
time                      0
datacenter_id             0
datacenter_name           0
host_id                   0
type                      0
active                    0
number_of_pes             0
available_pes             0
mips                      0
available_mips            0
utilization_per_pe        0
dvfs_available            0
frequency_range       38640
voltage_range             0
ram                       0
available_ram             0
bw                        0
available_bw              0
storage                   0
available_storage         0
power_model               0
vms                    4998
dtype: int64

In [62]:
labels, values = np.unique(dataset['datacenter_name'], return_counts=True)
labels2, values2 = np.unique(dataset['time'], return_counts=True)
for i in range(len(labels)):
    print(f"Datacenter {labels[i]} has {int(values[i]/len(values2))} hosts.")

Datacenter Datacenter_1 has 400 hosts.
Datacenter Datacenter_2 has 185 hosts.
Datacenter Datacenter_3 has 190 hosts.
Datacenter Datacenter_4 has 275 hosts.

In [63]:
labels, values = np.unique(dataset['type'], return_counts=True)
for i in range(len(labels)):
    print(f"There are {values[i]} of type {labels[i]}.")

There are 44100 of type host.

### Storage dataset

In [64]:
storage_dataset = pd.read_csv("./data/logfile-storage-v5.csv", delimiter=";")
storage_dataset.head()

,datacenter_id,datacenter_name,datacenter_storage_energy,storage_id,system,storage_capacity,capacity_used,active_duration,idle_intervals,duration,total_energy_active,total_energy_idle,average_rotation_latency,average_seek_Time,max_internal_data_transfer_rate,is_active,idle_power,active_power,files,Unnamed: 19
0,3,Datacenter_1,4.099681e+06,0,storage,900000.0,899584.0,4635.372761,1.0000003378537212:,9447.595287,26885.162012,3.000001,0.003,0.004,198.0,False,3.0,5.8,"55596,3072,15.524809784082704:450990,1024,5.18...",NaN
1,3,Datacenter_1,4.099681e+06,1,storage,900000.0,899584.0,4552.153376,1.0000000057506384:,9447.595287,26402.489581,3.000000,0.003,0.004,198.0,False,3.0,5.8,"1002363,1024,5.178738666087011:287333,512,2.59...",NaN
2,3,Datacenter_1,4.099681e+06,2,storage,900000.0,899584.0,4712.463046,1.0000000137015315:,9447.595287,27332.285668,3.000000,0.003,0.004,198.0,False,3.0,5.8,"3-6852,8192,41.38862101694565:24-285602,512,2....",NaN
3,3,Datacenter_1,4.099681e+06,3,storage,900000.0,899584.0,4924.857340,1.0000000205963306:,9447.595287,28564.172570,3.000000,0.003,0.004,198.0,False,3.0,5.8,"303602,3584,18.10363760760568:1-591519,3072,15...",NaN
4,3,Datacenter_1,4.099681e+06,4,storage,900000.0,899584.0,4813.303893,1.000000024323157:,9447.595287,27917.162579,3.000000,0.003,0.004,198.0,False,3.0,5.8,"2-878359,1024,5.1852412125875285:2-1002249,102...",NaN

In [65]:
storage_dataset.size

1220

In [66]:
storage_dataset.columns

Index(['datacenter_id', 'datacenter_name', 'datacenter_storage_energy',
       'storage_id', 'system', 'storage_capacity', 'capacity_used',
       'active_duration', 'idle_intervals', 'duration', 'total_energy_active',
       'total_energy_idle', 'average_rotation_latency', 'average_seek_Time',
       'max_internal_data_transfer_rate', 'is_active', 'idle_power',
       'active_power', 'files', 'Unnamed: 19'],
      dtype='object')

In [67]:
storage_dataset.dtypes

datacenter_id                        int64
datacenter_name                     object
datacenter_storage_energy          float64
storage_id                           int64
system                              object
storage_capacity                   float64
capacity_used                      float64
active_duration                    float64
idle_intervals                      object
duration                           float64
total_energy_active                float64
total_energy_idle                  float64
average_rotation_latency           float64
average_seek_Time                  float64
max_internal_data_transfer_rate    float64
is_active                             bool
idle_power                         float64
active_power                       float64
files                               object
Unnamed: 19                        float64
dtype: object

In [68]:
print(f"Number of null in the dataset: {storage_dataset.isnull().sum().sum()}")
print(f"Number of NaN in the dataset: {storage_dataset.isna().sum().sum()}")

Number of null in the dataset: 61
Number of NaN in the dataset: 61

In [69]:
print(f"Number of null per field: \n{storage_dataset.isnull().sum()}")
print(f"Number of NaN per field: \n{storage_dataset.isna().sum()}")

Number of null per field:
datacenter_id                       0
datacenter_name                     0
datacenter_storage_energy           0
storage_id                          0
system                              0
storage_capacity                    0
capacity_used                       0
active_duration                     0
idle_intervals                      0
duration                            0
total_energy_active                 0
total_energy_idle                   0
average_rotation_latency            0
average_seek_Time                   0
max_internal_data_transfer_rate     0
is_active                           0
idle_power                          0
active_power                        0
files                               0
Unnamed: 19                        61
dtype: int64
Number of NaN per field:
datacenter_id                       0
datacenter_name                     0
datacenter_storage_energy           0
storage_id                          0
system                              0
storage_capacity                    0
capacity_used                       0
active_duration                     0
idle_intervals                      0
duration                            0
total_energy_active                 0
total_energy_idle                   0
average_rotation_latency            0
average_seek_Time                   0
max_internal_data_transfer_rate     0
is_active                           0
idle_power                          0
active_power                        0
files                               0
Unnamed: 19                        61
dtype: int64

In [81]:
labels, values = np.unique(storage_dataset['datacenter_name'], return_counts=True)
for i in range(len(labels)):
    print(f"Datacenter {labels[i]} has {values[i]} disk.")

Datacenter Datacenter_1 has 19 disk.
Datacenter Datacenter_2 has 14 disk.
Datacenter Datacenter_3 has 14 disk.
Datacenter Datacenter_4 has 14 disk.

In [71]:
# labels, values = np.unique(storage_dataset['type'], return_counts=True)
# for i in range(len(labels)):
#     print(f"There are {values[i]} of type {labels[i]}.")

In [72]:
print(f"Simulation duration {float(storage_dataset['duration'][0])}s.")
for _, sample in storage_dataset.iterrows():
    idle_duration = 0
    if pd.notna(sample['idle_intervals']):
        for idle_interval in sample['idle_intervals'].split(":"):
            if idle_interval != '':
                idle_duration += float(idle_interval)
    print(f"duration {float(sample['active_duration'])+float(idle_duration)}s, active duration {sample['active_duration']}s, idle duration: {idle_duration}s.")

Simulation duration 9447.595287169874s.
duration 4636.372761036884s, active duration 4635.372760699031s, idle duration: 1.0000003378537212s.
duration 4553.153376056934s, active duration 4552.153376051183s, idle duration: 1.0000000057506384s.
duration 4713.463046150499s, active duration 4712.463046136798s, idle duration: 1.0000000137015315s.
duration 4925.857339652995s, active duration 4924.857339632398s, idle duration: 1.0000000205963306s.
duration 4814.303892997129s, active duration 4813.303892972805s, idle duration: 1.000000024323157s.
duration 4677.500064575578s, active duration 4676.500064548764s, idle duration: 1.0000000268133662s.
duration 4631.241246541775s, active duration 4630.241246510203s, idle duration: 1.0000000315714856s.
duration 4685.771374825719s, active duration 4684.771374791522s, idle duration: 1.0000000341969517s.
duration 4636.302677448481s, active duration 4635.302677413348s, idle duration: 1.0000000351331786s.
duration 4646.53786470785s, active duration 4645.537864656197s, idle duration: 1.0000000516530554s.
duration 4612.982779119534s, active duration 4611.9827790473255s, idle duration: 1.000000072208334s.
duration 4641.506337298305s, active duration 4640.506337220153s, idle duration: 1.0000000781521101s.
duration 4910.23421538933s, active duration 4909.234215305876s, idle duration: 1.0000000834531841s.
duration 4739.505378006652s, active duration 4738.505377922553s, idle duration: 1.0000000840987633s.
duration 4931.151213240541s, active duration 4930.151213155829s, idle duration: 1.0000000847122645s.
duration 4734.1977072691725s, active duration 4733.197707174477s, idle duration: 1.000000094695397s.
duration 4907.745971448231s, active duration 4906.74597134911s, idle duration: 1.0000000991216724s.
duration 4630.947490713849s, active duration 4629.947490603545s, idle duration: 1.000000110304866s.
duration 4837.750450354217s, active duration 4836.750450241099s, idle duration: 1.000000113117515s.
duration 9046.022420532423s, active duration 9045.022420411868s, idle duration: 1.0000001205545195s.
duration 8185.529004191258s, active duration 8184.529004064442s, idle duration: 1.0000001268156398s.
duration 7429.235366374501s, active duration 7428.235366244507s, idle duration: 1.000000129994175s.
duration 7929.302597625263s, active duration 7928.302597489623s, idle duration: 1.0000001356399597s.
duration 7590.440052524548s, active duration 7589.440052386674s, idle duration: 1.0000001378741856s.
duration 7239.688579083717s, active duration 7238.688578944419s, idle duration: 1.0000001392985887s.
duration 8458.041733536482s, active duration 8457.04173339717s, idle duration: 1.0000001393102018s.
duration 6765.619935970521s, active duration 6764.619935829262s, idle duration: 1.0000001412585489s.
duration 7583.342274367919s, active duration 7582.342274219315s, idle duration: 1.0000001486045693s.
duration 9086.196385156169s, active duration 9085.196384973611s, idle duration: 1.0000001825575817s.
duration 9249.804578217374s, active duration 9248.80457803196s, idle duration: 1.0000001854138798s.
duration 7720.836371224362s, active duration 7719.836371038435s, idle duration: 1.0000001859271916s.
duration 6971.843883033172s, active duration 6970.84388283789s, idle duration: 1.0000001952811985s.
duration 7289.420632696665s, active duration 7288.420632498004s, idle duration: 1.0000001986605258s.
duration 7885.591953685858s, active duration 7884.591953486491s, idle duration: 1.0000001993671592s.
duration 7661.533610199476s, active duration 7660.533609995304s, idle duration: 1.0000002041720304s.
duration 7933.203506345132s, active duration 7932.203506140369s, idle duration: 1.0000002047627674s.
duration 7768.798164178629s, active duration 7767.798163973789s, idle duration: 1.0000002048403946s.
duration 8276.057458662732s, active duration 8275.057458457712s, idle duration: 1.0000002050207908s.
duration 8035.50134840872s, active duration 8034.501348197766s, idle duration: 1.0000002109547617s.
duration 8218.8063436613s, active duration 8217.806343447588s, idle duration: 1.000000213711558s.
duration 7051.88533120572s, active duration 7050.885330991662s, idle duration: 1.0000002140581152s.
duration 8557.160463376767s, active duration 8556.160463159606s, idle duration: 1.0000002171610354s.
duration 8314.30359009351s, active duration 8313.303589873743s, idle duration: 1.0000002197667988s.
duration 6244.861559655737s, active duration 6243.861559434232s, idle duration: 1.0000002215054804s.
duration 7390.270534515306s, active duration 7389.270534291015s, idle duration: 1.0000002242910853s.
duration 7954.454236593797s, active duration 7953.454236368148s, idle duration: 1.0000002256492302s.
duration 8033.123001084659s, active duration 8032.123000851444s, idle duration: 1.00000023321565s.
duration 4636.240013564423s, active duration 4635.240013309199s, idle duration: 1.00000025522434s.
duration 4594.788831094393s, active duration 4593.788830838621s, idle duration: 1.0000002557717234s.
duration 4905.005821842659s, active duration 4904.005821579432s, idle duration: 1.0000002632271476s.
duration 4700.551828852849s, active duration 4699.551828586675s, idle duration: 1.0000002661745016s.
duration 4760.148882841165s, active duration 4759.1488825739125s, idle duration: 1.000000267252291s.
duration 4664.563570508194s, active duration 4663.563570240485s, idle duration: 1.0000002677090973s.
duration 4750.193006261966s, active duration 4749.193005992249s, idle duration: 1.000000269717125s.
duration 8775.639379926135s, active duration 8774.639379642913s, idle duration: 1.000000283221563s.
duration 6182.497301223217s, active duration 6181.497300932259s, idle duration: 1.0000002909576322s.
duration 7716.286079014926s, active duration 7715.286078709008s, idle duration: 1.0000003059183311s.
duration 8763.75174958643s, active duration 8762.751749277752s, idle duration: 1.0000003086790341s.
duration 7040.541226937553s, active duration 7039.541226617465s, idle duration: 1.0000003200875518s.
duration 9447.595287169876s, active duration 9446.595286849608s, idle duration: 1.0000003202669294s.
duration 8256.978616719141s, active duration 8255.97861639779s, idle duration: 1.000000321351924s.

### Network dataset

In [73]:
network_dataset = pd.read_csv("./data/logfile-network-v7.csv", delimiter=";")
network_dataset.head()

,datacenter_id,datacenter_name,id,type,role,level,bandwidth,total_used_bandwidth,traffic_history,ports,duration,active_duration,power_per_port,low_power,high_power,is_active,Unnamed: 16
0,0,Datacenter_1,0,switch,access switch,0,360000,2427.0,162.0:93.0:71.0:72.0:79.0:73.0:71.0:71.0:73.0:...,"400,True,0.24269999999999994,0,12,10000,2427.0...",3.6094,0.006742,8,132,132,True,NaN
1,0,Datacenter_1,1,switch,access switch,0,360000,3573.0,89.0:89.0:95.0:198.0:218.0:156.0:90.0:109.0:17...,"402,True,0.35729999999999995,1,12,10000,3573.0...",3.6094,0.009925,8,132,132,True,NaN
2,0,Datacenter_1,2,switch,access switch,0,360000,2492.0,94.0:68.0:73.0:61.0:73.0:83.0:74.0:63.0:73.0:7...,"404,True,0.24919999999999998,2,12,10000,2492.0...",3.6094,0.006922,8,132,132,True,NaN
3,0,Datacenter_1,3,switch,access switch,0,360000,2335.0,64.0:64.0:64.0:73.0:74.0:64.0:74.0:74.0:56.0:6...,"406,True,0.23349999999999999,3,12,10000,2335.0...",3.6094,0.006486,8,132,132,True,NaN
4,0,Datacenter_1,4,switch,access switch,0,360000,2436.0,70.0:64.0:57.0:75.0:72.0:65.0:75.0:66.0:63.0:7...,"408,True,0.24359999999999996,4,12,10000,2436.0...",3.6094,0.006767,8,132,132,True,NaN

In [74]:
network_dataset.size

833

In [75]:
network_dataset.dtypes

datacenter_id             int64
datacenter_name          object
id                        int64
type                     object
role                     object
level                     int64
bandwidth                 int64
total_used_bandwidth    float64
traffic_history          object
ports                    object
duration                float64
active_duration         float64
power_per_port            int64
low_power                 int64
high_power                int64
is_active                  bool
Unnamed: 16             float64
dtype: object

In [76]:
print(f"Number of null in the dataset: {network_dataset.isnull().sum().sum()}")
print(f"Number of NaN in the dataset: {network_dataset.isna().sum().sum()}")

Number of null in the dataset: 57
Number of NaN in the dataset: 57

In [77]:
print(f"Number of null per field: \n{network_dataset.isnull().sum()}")
print(f"Number of NaN per field: \n{network_dataset.isna().sum()}")

Number of null per field:
datacenter_id            0
datacenter_name          0
id                       0
type                     0
role                     0
level                    0
bandwidth                0
total_used_bandwidth     0
traffic_history          8
ports                    0
duration                 0
active_duration          0
power_per_port           0
low_power                0
high_power               0
is_active                0
Unnamed: 16             49
dtype: int64
Number of NaN per field:
datacenter_id            0
datacenter_name          0
id                       0
type                     0
role                     0
level                    0
bandwidth                0
total_used_bandwidth     0
traffic_history          8
ports                    0
duration                 0
active_duration          0
power_per_port           0
low_power                0
high_power               0
is_active                0
Unnamed: 16             49
dtype: int64

In [78]:
labels, values = np.unique(network_dataset['datacenter_id'], return_counts=True)
for i in range(len(labels)):
    print(f"Datacenter {labels[i]} has {int(values[i])} switches.")

Datacenter 0 has 16 switches.
Datacenter 1 has 10 switches.
Datacenter 2 has 10 switches.
Datacenter 3 has 13 switches.

In [79]:
labels, values = np.unique(network_dataset['type'], return_counts=True)
for i in range(len(labels)):
    print(f"There are {values[i]} of type {labels[i]}.")

There are 49 of type switch.

In [80]:
print(f"Simulation duration {network_dataset['duration'][0]}s.")

Simulation duration 3.6094s.

In [92]:
labels, values = np.unique(network_dataset['datacenter_name'], return_counts=True)
for datacenter_name in labels:
    ports = 0
    for index, sample in network_dataset[network_dataset['datacenter_name'] == datacenter_name].iterrows():
        ports += len(sample['ports'].split(":")) - 1
        # print(len(sample['ports'].split(":")) - 1)
    print(f"Datacenter {datacenter_name} has {ports} switchports.")

Datacenter Datacenter_1 has 864 switchports.
Datacenter Datacenter_2 has 648 switchports.
Datacenter Datacenter_3 has 648 switchports.
Datacenter Datacenter_4 has 756 switchports.