In [79]:
import pandas as pd
import numpy as np
import matplotlib as plt

dataset = pd.read_csv("./data/logfile-v5.csv", delimiter=";")
dataset.head()

/tmp/ipykernel_356923/4206746472.py:5: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("./data/logfile-v5.csv", delimiter=";")

,time,datacenter_name,host_id,type,active,number_of_pes,available_pes,mips,available_mips,utilization_per_pe,ram,available_ram,bw,available_bw,power_model,vms,Unnamed: 16
0,300.01,Datacenter_1,0,host,True,2,1,6000,2387.365877,"3000.0,0.0:3000.0,2387.3658765866667:",4000,3983.0,1000,0.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,0.0:2,433.04793488,...",NaN
1,600.01,Datacenter_1,0,host,True,2,1,6000,2387.365877,"3000.0,0.0:3000.0,2387.3658765866667:",4000,3983.0,1000,0.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,0.0:2,433.04793488,...",NaN
2,900.01,Datacenter_1,0,host,True,2,1,6000,2387.365877,"3000.0,0.0:3000.0,2387.3658765866667:",4000,3983.0,1000,0.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,0.0:2,433.04793488,...",NaN
3,1200.01,Datacenter_1,0,host,True,2,1,6000,2387.365877,"3000.0,0.0:3000.0,2387.3658765866667:",4000,3983.0,1000,0.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,0.0:2,433.04793488,...",NaN
4,1500.01,Datacenter_1,0,host,True,2,1,6000,2387.365877,"3000.0,0.0:3000.0,2387.3658765866667:",4000,3983.0,1000,0.0,"105.0,112.0,118.0,125.0,131.0,137.0,147.0,153....","2,394.03460741333333,425.0,0.0:2,433.04793488,...",NaN

In [80]:
dataset.size

1207374

In [81]:
dataset.columns

Index(['time', 'datacenter_name', 'host_id', 'type', 'active', 'number_of_pes',
       'available_pes', 'mips', 'available_mips', 'utilization_per_pe', 'ram',
       'available_ram', 'bw', 'available_bw', 'power_model', 'vms',
       'Unnamed: 16'],
      dtype='object')

In [82]:
dataset.dtypes

time                  float64
datacenter_name        object
host_id                 int64
type                   object
active                   bool
number_of_pes           int64
available_pes           int64
mips                    int64
available_mips        float64
utilization_per_pe     object
ram                     int64
available_ram         float64
bw                      int64
available_bw          float64
power_model            object
vms                    object
Unnamed: 16           float64
dtype: object

In [83]:
print(f"Number of null in the dataset: {dataset.isnull().sum().sum()}")
print(f"Number of NaN in the dataset: {dataset.isna().sum().sum()}")

Number of null in the dataset: 90435
Number of NaN in the dataset: 90435

In [84]:
print(f"Number of null per field: \n{dataset.isnull().sum()}")
print(f"Number of NaN per field: \n{dataset.isna().sum()}")

Number of null per field:
time                      0
datacenter_name           0
host_id                   0
type                      0
active                    0
number_of_pes             0
available_pes             0
mips                      0
available_mips            0
utilization_per_pe        0
ram                       0
available_ram             0
bw                        0
available_bw              0
power_model               0
vms                   19413
Unnamed: 16           71022
dtype: int64
Number of NaN per field:
time                      0
datacenter_name           0
host_id                   0
type                      0
active                    0
number_of_pes             0
available_pes             0
mips                      0
available_mips            0
utilization_per_pe        0
ram                       0
available_ram             0
bw                        0
available_bw              0
power_model               0
vms                   19413
Unnamed: 16           71022
dtype: int64

In [85]:
labels, values = np.unique(dataset['datacenter_name'], return_counts=True)
for i in range(len(labels)):
    print(f"Datacenter {labels[i]} has {int(values[i]/14)} hosts.")

Datacenter Datacenter_1 has 1347 hosts.
Datacenter Datacenter_2 has 1302 hosts.
Datacenter Datacenter_3 has 1077 hosts.
Datacenter Datacenter_4 has 1347 hosts.

In [86]:
labels, values = np.unique(dataset['type'], return_counts=True)
for i in range(len(labels)):
    print(f"There are {values[i]} of type {labels[i]}.")

There are 71022 of type host.

### Storage dataset

In [87]:
storage_dataset = pd.read_csv("./data/logfile-storage-v4.csv", delimiter=";")
storage_dataset.head()

,datacenter_id,datacenter_name,datacenter_storage_energy,storage_id,system,storage_capacity,capacity_used,active_duration,idle_intervals,duration,total_energy_active,total_energy_idle,average_rotation_latency,average_seek_Time,max_internal_data_transfer_rate,is_active,idle_power,active_power,files,Unnamed: 19
0,3,Datacenter_1,113716.350085,0,storage,900000.0,144384.0,745.127461,1.0000017892249078:,961.692048,4321.739273,3.000005,0.003,0.004,198.0,False,3.0,5.8,"55596,3072,15.519012736963932:1-55848,3072,15....",NaN
1,3,Datacenter_1,113716.350085,1,storage,900000.0,139776.0,721.881444,1.0000001822594735:,961.692048,4186.912375,3.000001,0.003,0.004,198.0,False,3.0,5.8,"3-55896,3072,15.518360641031068:2-572526,2560,...",NaN
2,3,Datacenter_1,113716.350085,2,storage,900000.0,145408.0,765.796667,1.000000266829021:,961.692048,4441.620671,3.000001,0.003,0.004,198.0,False,3.0,5.8,"1-450552,1024,5.183152612866157:6-753921,3072,...",NaN
3,3,Datacenter_1,113716.350085,3,storage,900000.0,169472.0,954.602773,1.0000002917759447:,961.692048,5536.696084,3.000001,0.003,0.004,198.0,False,3.0,5.8,"591399,3072,15.520055166649824:288827,512,2.59...",NaN
4,3,Datacenter_1,113716.350085,4,storage,900000.0,168448.0,856.300420,1.0000004167879113:,961.692048,4966.542439,3.000001,0.003,0.004,198.0,False,3.0,5.8,"25-240840,3072,15.526928354068726:1-878247,102...",NaN

In [88]:
storage_dataset.size

1200

In [89]:
storage_dataset.columns

Index(['datacenter_id', 'datacenter_name', 'datacenter_storage_energy',
       'storage_id', 'system', 'storage_capacity', 'capacity_used',
       'active_duration', 'idle_intervals', 'duration', 'total_energy_active',
       'total_energy_idle', 'average_rotation_latency', 'average_seek_Time',
       'max_internal_data_transfer_rate', 'is_active', 'idle_power',
       'active_power', 'files', 'Unnamed: 19'],
      dtype='object')

In [90]:
storage_dataset.dtypes

datacenter_id                        int64
datacenter_name                     object
datacenter_storage_energy          float64
storage_id                           int64
system                              object
storage_capacity                   float64
capacity_used                      float64
active_duration                    float64
idle_intervals                      object
duration                           float64
total_energy_active                float64
total_energy_idle                  float64
average_rotation_latency           float64
average_seek_Time                  float64
max_internal_data_transfer_rate    float64
is_active                             bool
idle_power                         float64
active_power                       float64
files                               object
Unnamed: 19                        float64
dtype: object

In [91]:
print(f"Number of null in the dataset: {storage_dataset.isnull().sum().sum()}")
print(f"Number of NaN in the dataset: {storage_dataset.isna().sum().sum()}")

Number of null in the dataset: 147
Number of NaN in the dataset: 147

In [92]:
print(f"Number of null per field: \n{storage_dataset.isnull().sum()}")
print(f"Number of NaN per field: \n{storage_dataset.isna().sum()}")

Number of null per field:
datacenter_id                       0
datacenter_name                     0
datacenter_storage_energy           0
storage_id                          0
system                              0
storage_capacity                    0
capacity_used                       0
active_duration                     0
idle_intervals                     45
duration                            0
total_energy_active                 0
total_energy_idle                   0
average_rotation_latency            0
average_seek_Time                   0
max_internal_data_transfer_rate     0
is_active                           0
idle_power                          0
active_power                        0
files                              42
Unnamed: 19                        60
dtype: int64
Number of NaN per field:
datacenter_id                       0
datacenter_name                     0
datacenter_storage_energy           0
storage_id                          0
system                              0
storage_capacity                    0
capacity_used                       0
active_duration                     0
idle_intervals                     45
duration                            0
total_energy_active                 0
total_energy_idle                   0
average_rotation_latency            0
average_seek_Time                   0
max_internal_data_transfer_rate     0
is_active                           0
idle_power                          0
active_power                        0
files                              42
Unnamed: 19                        60
dtype: int64

In [93]:
labels, values = np.unique(storage_dataset['datacenter_id'], return_counts=True)
for i in range(len(labels)):
    print(f"Datacenter {labels[i]} has {int(values[i]/14)} disk.")

Datacenter 3 has 1 disk.
Datacenter 4 has 1 disk.
Datacenter 5 has 1 disk.
Datacenter 6 has 1 disk.

In [94]:
# labels, values = np.unique(storage_dataset['type'], return_counts=True)
# for i in range(len(labels)):
#     print(f"There are {values[i]} of type {labels[i]}.")

In [95]:
print(f"Simulation duration {float(storage_dataset['duration'][0])}s.")
for _, sample in storage_dataset.iterrows():
    idle_duration = 0
    if pd.notna(sample['idle_intervals']):
        for idle_interval in sample['idle_intervals'].split(":"):
            if idle_interval != '':
                idle_duration += float(idle_interval)
    print(f"duration {float(sample['active_duration'])+float(idle_duration)}s, active duration {sample['active_duration']}s, idle duration: {idle_duration}s.")

Simulation duration 961.6920478889256s.
duration 746.1274626791158s, active duration 745.1274608898908s, idle duration: 1.0000017892249078s.
duration 722.8814441854488s, active duration 721.8814440031894s, idle duration: 1.0000001822594735s.
duration 766.7966676032497s, active duration 765.7966673364207s, idle duration: 1.000000266829021s.
duration 955.6027734597938s, active duration 954.6027731680178s, idle duration: 1.0000002917759447s.
duration 857.300420869948s, active duration 856.3004204531601s, idle duration: 1.0000004167879113s.
duration 606.135444476963s, active duration 605.1354440117186s, idle duration: 1.0000004652444445s.
duration 774.4767387779605s, active duration 773.4767379110183s, idle duration: 1.0000008669421812s.
duration 961.6920478889256s, active duration 960.6920469860372s, idle duration: 1.0000009028883063s.
duration 897.734437299739s, active duration 896.7344362532269s, idle duration: 1.0000010465121425s.
duration 930.9576646501441s, active duration 929.9576635255364s, idle duration: 1.0000011246077447s.
duration 675.6699091692825s, active duration 674.6699080183539s, idle duration: 1.00000115092862s.
duration 818.5505733327429s, active duration 817.5505719530302s, idle duration: 1.0000013797128078s.
duration 842.3293996344162s, active duration 841.3293981500601s, idle duration: 1.0000014843560912s.
duration 649.4609599570149s, active duration 648.4609583398627s, idle duration: 1.0000016171521608s.
duration 844.7909823898569s, active duration 843.7909806834907s, idle duration: 1.0000017063661977s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.
duration 0.0s, active duration 0.0s, idle duration: 0s.

### Network dataset

In [96]:
network_dataset = pd.read_csv("./data/logfile-network.csv", delimiter=";")
network_dataset.head()

,datacenter_id,datacenter_name,id,type,role,bandwidth,total_used_bandwidth,traffic_history,ports,duration,power_per_port,low_power,high_power,is_active,Unnamed: 14
0,0,Datacenter_1,0,switch,access switch,5000,4000.0,1000.0:1000.0:1000.0:1000.0:,"449,True,113,0,1000,4000.0:0,True,0,0,1000,100...",449.0,15.4,70,71,True,NaN
1,0,Datacenter_1,1,switch,access switch,5000,4000.0,1000.0:1000.0:1000.0:1000.0:,"450,True,113,1,1000,4000.0:4,True,1,4,1000,100...",449.0,15.4,70,71,True,NaN
2,0,Datacenter_1,2,switch,access switch,5000,4000.0,1000.0:1000.0:1000.0:1000.0:,"451,True,113,2,1000,4000.0:8,True,2,8,1000,100...",449.0,15.4,70,71,True,NaN
3,0,Datacenter_1,3,switch,access switch,5000,4000.0,1000.0:1000.0:1000.0:1000.0:,"452,True,113,3,1000,4000.0:12,True,3,12,1000,1...",449.0,15.4,70,71,True,NaN
4,0,Datacenter_1,4,switch,access switch,5000,4000.0,1000.0:1000.0:1000.0:1000.0:,"453,True,114,4,1000,4000.0:16,True,4,16,1000,1...",449.0,15.4,70,71,True,NaN

In [97]:
network_dataset.size

8475

In [98]:
network_dataset.dtypes

datacenter_id             int64
datacenter_name          object
id                        int64
type                     object
role                     object
bandwidth                 int64
total_used_bandwidth    float64
traffic_history          object
ports                    object
duration                float64
power_per_port          float64
low_power                 int64
high_power                int64
is_active                  bool
Unnamed: 14             float64
dtype: object

In [99]:
print(f"Number of null in the dataset: {network_dataset.isnull().sum().sum()}")
print(f"Number of NaN in the dataset: {network_dataset.isna().sum().sum()}")

Number of null in the dataset: 587
Number of NaN in the dataset: 587

In [100]:
print(f"Number of null per field: \n{network_dataset.isnull().sum()}")
print(f"Number of NaN per field: \n{network_dataset.isna().sum()}")

Number of null per field:
datacenter_id             0
datacenter_name           0
id                        0
type                      0
role                      0
bandwidth                 0
total_used_bandwidth      0
traffic_history          22
ports                     0
duration                  0
power_per_port            0
low_power                 0
high_power                0
is_active                 0
Unnamed: 14             565
dtype: int64
Number of NaN per field:
datacenter_id             0
datacenter_name           0
id                        0
type                      0
role                      0
bandwidth                 0
total_used_bandwidth      0
traffic_history          22
ports                     0
duration                  0
power_per_port            0
low_power                 0
high_power                0
is_active                 0
Unnamed: 14             565
dtype: int64

In [101]:
labels, values = np.unique(network_dataset['datacenter_id'], return_counts=True)
for i in range(len(labels)):
    print(f"Datacenter {labels[i]} has {int(values[i])} switches.")

Datacenter 0 has 150 switches.
Datacenter 1 has 145 switches.
Datacenter 2 has 120 switches.
Datacenter 3 has 150 switches.

In [102]:
labels, values = np.unique(network_dataset['type'], return_counts=True)
for i in range(len(labels)):
    print(f"There are {values[i]} of type {labels[i]}.")

There are 565 of type switch.

In [103]:
print(f"Simulation duration {network_dataset['duration'][0]}s.")

Simulation duration 449.0s.