In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

dataset = pd.read_csv("./data/logfile-v4.csv", delimiter=";")
dataset.head()

,time,datacenter_name,host_id,type,active,number_of_pes,available_pes,mips,available_mips,ram,available_ram,bw,available_bw,power_model,vms,Unnamed: 15
0,300.01,Datacenter_1,0,host,True,4,1,10000,0.0,160000,83880.0,10000,111.0,"93.7,97.0,101.0,105.0,110.0,116.0,121.0,125.0,...","2,1000.0,8388.0,12.0:2,1000.0,8388.0,12.0:2,10...",NaN
1,600.01,Datacenter_1,0,host,True,4,1,10000,0.0,160000,83880.0,10000,111.0,"93.7,97.0,101.0,105.0,110.0,116.0,121.0,125.0,...","2,1000.0,8388.0,12.0:2,1000.0,8388.0,12.0:2,10...",NaN
2,900.01,Datacenter_1,0,host,True,4,1,10000,0.0,160000,83880.0,10000,111.0,"93.7,97.0,101.0,105.0,110.0,116.0,121.0,125.0,...","2,1000.0,8388.0,12.0:2,1000.0,8388.0,12.0:2,10...",NaN
3,1200.01,Datacenter_1,0,host,True,4,1,10000,0.0,160000,83880.0,10000,111.0,"93.7,97.0,101.0,105.0,110.0,116.0,121.0,125.0,...","2,1000.0,8388.0,12.0:2,1000.0,8388.0,12.0:2,10...",NaN
4,1500.01,Datacenter_1,0,host,True,4,1,10000,0.0,160000,83880.0,10000,111.0,"93.7,97.0,101.0,105.0,110.0,116.0,121.0,125.0,...","2,1000.0,8388.0,12.0:2,1000.0,8388.0,12.0:2,10...",NaN

In [3]:
dataset.size

197120

In [4]:
dataset.columns

Index(['time', 'datacenter_name', 'host_id', 'type', 'active', 'number_of_pes',
       'available_pes', 'mips', 'available_mips', 'ram', 'available_ram', 'bw',
       'available_bw', 'power_model', 'vms', 'Unnamed: 15'],
      dtype='object')

In [5]:
dataset.dtypes

time               float64
datacenter_name     object
host_id              int64
type                object
active                bool
number_of_pes        int64
available_pes        int64
mips                 int64
available_mips     float64
ram                  int64
available_ram      float64
bw                   int64
available_bw       float64
power_model         object
vms                 object
Unnamed: 15        float64
dtype: object

In [6]:
print(f"Number of null in the dataset: {dataset.isnull().sum().sum()}")
print(f"Number of NaN in the dataset: {dataset.isna().sum().sum()}")

Number of null in the dataset: 12544
Number of NaN in the dataset: 12544

In [7]:
print(f"Number of null per field: \n{dataset.isnull().sum()}")
print(f"Number of NaN per field: \n{dataset.isna().sum()}")

Number of null per field:
time                   0
datacenter_name        0
host_id                0
type                   0
active                 0
number_of_pes          0
available_pes          0
mips                   0
available_mips         0
ram                    0
available_ram          0
bw                     0
available_bw           0
power_model            0
vms                  224
Unnamed: 15        12320
dtype: int64
Number of NaN per field:
time                   0
datacenter_name        0
host_id                0
type                   0
active                 0
number_of_pes          0
available_pes          0
mips                   0
available_mips         0
ram                    0
available_ram          0
bw                     0
available_bw           0
power_model            0
vms                  224
Unnamed: 15        12320
dtype: int64

In [8]:
labels, values = np.unique(dataset['datacenter_name'], return_counts=True)
for i in range(len(labels)):
    print(f"Datacenter {labels[i]} has {int(values[i]/14)} hosts")

Datacenter Datacenter_1 has 220 hosts
Datacenter Datacenter_2 has 220 hosts
Datacenter Datacenter_3 has 220 hosts
Datacenter Datacenter_4 has 220 hosts

In [9]:
labels, values = np.unique(dataset['type'], return_counts=True)
for i in range(len(labels)):
    print(f"There are {values[i]} of {labels[i]}")

There are 12320 of host

### Storage dataset

In [10]:
dataset_storage = pd.read_csv("./data/logfile-storage.csv", delimiter=";")
dataset_storage.head()

,datacenter_id,datacenter_storage_energy,storage_id,system,storage_capacity,capacity_used,inactive_duration,idle_intervals,total_energy_active,total_energy_idle,average_rotation_latency,average_seek_Time,max_internal_data_transfer_rate,idle_power,active_power,Unnamed: 15
0,3,73600.482528,1,storage,900000.0,32768.0,178.497562,1.0000125760114886:,1035.285862,3.000038,0.003,0.004,198.0,3.0,5.8,NaN
1,3,73600.482528,2,storage,900000.0,20992.0,106.085322,1.0000001428057186:,615.294866,3.000000,0.003,0.004,198.0,3.0,5.8,NaN
2,3,73600.482528,3,storage,900000.0,19968.0,106.086930,1.0000002423842134:,615.304191,3.000001,0.003,0.004,198.0,3.0,5.8,NaN
3,3,73600.482528,4,storage,900000.0,19456.0,129.373838,1.000000266207527:,750.368259,3.000001,0.003,0.004,198.0,3.0,5.8,NaN
4,3,73600.482528,5,storage,900000.0,31232.0,162.973803,1.0000005716485505:,945.248059,3.000002,0.003,0.004,198.0,3.0,5.8,NaN

In [11]:
dataset_storage.size

1600

In [12]:
dataset_storage.columns

Index(['datacenter_id', 'datacenter_storage_energy', 'storage_id', 'system',
       'storage_capacity', 'capacity_used', 'inactive_duration',
       'idle_intervals', 'total_energy_active', 'total_energy_idle',
       'average_rotation_latency', 'average_seek_Time',
       'max_internal_data_transfer_rate', 'idle_power', 'active_power',
       'Unnamed: 15'],
      dtype='object')

In [13]:
dataset_storage.dtypes

datacenter_id                        int64
datacenter_storage_energy          float64
storage_id                           int64
system                              object
storage_capacity                   float64
capacity_used                      float64
inactive_duration                  float64
idle_intervals                      object
total_energy_active                float64
total_energy_idle                  float64
average_rotation_latency           float64
average_seek_Time                  float64
max_internal_data_transfer_rate    float64
idle_power                         float64
active_power                       float64
Unnamed: 15                        float64
dtype: object

In [14]:
print(f"Number of null in the dataset: {dataset_storage.isnull().sum().sum()}")
print(f"Number of NaN in the dataset: {dataset_storage.isna().sum().sum()}")

Number of null in the dataset: 100
Number of NaN in the dataset: 100

In [15]:
print(f"Number of null per field: \n{dataset_storage.isnull().sum()}")
print(f"Number of NaN per field: \n{dataset_storage.isna().sum()}")

Number of null per field:
datacenter_id                        0
datacenter_storage_energy            0
storage_id                           0
system                               0
storage_capacity                     0
capacity_used                        0
inactive_duration                    0
idle_intervals                       0
total_energy_active                  0
total_energy_idle                    0
average_rotation_latency             0
average_seek_Time                    0
max_internal_data_transfer_rate      0
idle_power                           0
active_power                         0
Unnamed: 15                        100
dtype: int64
Number of NaN per field:
datacenter_id                        0
datacenter_storage_energy            0
storage_id                           0
system                               0
storage_capacity                     0
capacity_used                        0
inactive_duration                    0
idle_intervals                       0
total_energy_active                  0
total_energy_idle                    0
average_rotation_latency             0
average_seek_Time                    0
max_internal_data_transfer_rate      0
idle_power                           0
active_power                         0
Unnamed: 15                        100
dtype: int64

In [16]:
labels, values = np.unique(dataset_storage['datacenter_id'], return_counts=True)
for i in range(len(labels)):
    print(f"Datacenter {labels[i]} has {int(values[i]/14)} disk")

Datacenter 3 has 7 disk

In [26]:
for _, sample in pd.read_csv("./data/logfile-storage-v0.csv", delimiter=";").iterrows():
    idle_duration = 0
    if pd.notna(sample['idle_intervals']):
        for idle_interval in sample['idle_intervals'].split(":"):
            if idle_interval != '':
                idle_duration += float(idle_interval)
            
    print(f"duration {float(sample['active_duration'])+float(idle_duration)}, active duration {sample['active_duration']}, idle duration: {idle_duration}")

duration 16.520692907368282, active duration 15.520672174351263, idle duration: 1.0000207330170203
duration 16.52730395343612, active duration 15.527278535772728, idle duration: 1.0000254176633934
duration 19.11534065523908, active duration 18.115313524077404, idle duration: 1.0000271311616769
duration 16.525070129275235, active duration 15.525032544983098, idle duration: 1.000037584292138
duration 16.531459866944704, active duration 15.531396948005792, idle duration: 1.0000629189389107
duration 19.11529380669626, active duration 18.115218823756077, idle duration: 1.000074982940185
duration 19.113655916604227, active duration 18.113574813072116, idle duration: 1.00008110353211
duration 16.523598512866005, active duration 15.52350735036665, idle duration: 1.0000911624993545
duration 19.114988962701773, active duration 18.11489152271444, idle duration: 1.0000974399873332
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0
duration 0.0, active duration 0.0, idle duration: 0